* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.legalhelpContainer {
  position: relative;
  top: 100px;
  bottom: 40px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.legalhelpContainer > .helpLegalheader {
  position: relative;
  top: 0;
  left: 40px;
  max-width: 1024px;
  width: 100%;
}
.legalhelpContainer > .helpLegalheader > h3 {
  color: black;
  font-size: 28px;
  font-weight: 600;
  font-family: "kanit";
  margin: 0;
  padding: 0;
}
.legalhelpContainer > .helpLegalheader > span {
  color: black;
  font-size: 16px;
  font-weight: 400;
  font-family: "Kanit";
}

/*  Help seciton css is here  */
.LegalhelpSection {
  background-color: rgb(198 190 190 / 19%);
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  margin-bottom: 100px;
  display: flex;
  padding: 15px;
  flex-direction: row;
  box-shadow: 2px 2px 5px #999;
}
.LegalhelpSection > .LeagalhelpHeader {
  background-color: rgba(106, 106, 106, 0.563);
  width: 30%;
  height: 96%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-family: "Kanit";
  align-items: center;
  margin: 40px 5px;
}
.LegalhelpSection > .LeagalhelpHeader > .link {
  /* color: black !important; */
  margin: 20px 0px;
  border-bottom: none;
  text-decoration: none;
  width: 250px;
  padding: 5px 10px;
}
.LegalhelpSection > .LeagalhelpHeader > .link > span {
  color: black;
  width: 250px;
}

.LegalhelpSection > .LeagalhelpHeader > .link:nth-child(2) {
  border: 1px solid white;
  border: 1px solid white;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px white;
}

.Legalhelptype {
  width: 100%;
  /* background-color: green; */
}
.Legalhelptype > ul {
  padding: 10px;
}
.Legalhelptype > ul > li {
  list-style: none;
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid black;
  display: flex;
  position: relative;
}

.Legalhelptype > ul > li > .text > span {
  margin: 5px 30px;
  color: black;
  font-family: "Kanit";
  font-weight: 400;
  font-size: 20px;
}

.Legalhelptype > ul > li > .text > .show {
  display: block;
  color: black;
  padding: 10px 20px;
  transition: all ease-in 0.5s;
}
.Legalhelptype > ul > li > .text > .show > p {
  color: orangered;
  font-size: 16px;
  font-family: "kanit";
  margin: 10px 20px;
}

.Legalhelptype > ul > li > .text > .hide {
  display: none;
}
.Legalhelptype > ul > li > .text > .show > h3 {
  color: black;
  font-family: "kanit";
  font-size: 23px;
}
.Legalhelptype > ul > li > .text > .show > button {
  color: white;
  padding: 5px 10px;
  border: 1px solid orangered;
  background-color: orangered;
  font-family: "Kanit";
  margin: 0px 10px;
}
.Legalhelptype > ul > li > .text > .show > button:hover {
  color: black;
  background-color: transparent;
  border: 1px solid orangered;
}
.Legalhelptype > ul > li > .text > .show > span {
  color: black;
  display: block;
  font-size: 10px;
  margin: 5px 10px;
}

.Legalhelptype > ul > li > .icon > i {
  position: absolute;
  right: 30px;
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 767px) {
  .legalhelpContainer {
    position: relative;
    top: 70px;
    bottom: 40px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .legalhelpContainer > .helpLegalheader > h3 {
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: "kanit";
    margin: 0;
    padding: 0;
  }
  .legalhelpContainer > .helpLegalheader > span {
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: "Kanit";
  }
  .LegalhelpSection {
    display: flex;
    flex-direction: column;
  }
  .LegalhelpSection > .LeagalhelpHeader {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .Legalhelptype > ul > li > .text > span {
    margin: 5px 30px;
    color: black;
    font-family: "Kanit";
    font-weight: 400;
    font-size: 17px;
  }
}
