.bgImgwtext {
  width: 100%;
  overflow: hidden;
}
.bgImgwtext > .homebgimage {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  animation: kenburns-top 5s ease-out both;
  z-index: 1;
  filter: brightness(0.5);
}
/*  animation css is here */

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-15px);
    transform: scale(1.1) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.greetingmessage {
  z-index: 1;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 12%;
  width: 50%;
}
.greetingmessage span {
  z-index: 2;
  font-size: 50px;
  font-family: var(--kanitFont);
  font-weight: 400;
  font-size: 45px;
  color: white;
}
.greetingmessage span p {
  display: inline;
  margin: 0px 10px;
  color: yellow;
  width: 100%;
}
.family {
  margin-left: 66px;
}

.cartCount {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  color: black;
  position: absolute;
  top: -8px;
  font-family: "kanit";
  right: -13px;
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  Media Query for responsive  */
@media screen and (max-width: 767px) {
  .bgImgwtext {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .homebgimage {
    min-width: 100%;
    height: 30vh !important
    ;
  }
  .greetingmessage {
    width: 100%;
    position: absolute;
    top: 1em;
    left: 1em;
  }
  .greetingmessage > span {
    font-size: 1rem;
    color: white;
  }
  .family {
    position: absolute;
    top: 4em;
    left: -1em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bgImgwtext {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    max-width: 1023px !important;
  }
  .homebgimage {
    min-width: 154%;
    height: 70vh !important
    ;
  }
  .greetingmessage {
    width: 100%;
    position: absolute;
    top: 3em;
    left: 2em;
  }
  .greetingmessage > span {
    font-size: 2rem;
    color: white;
    line-height: 10px;
  }
  .family {
    position: absolute;
    top: 4em;
    left: -1em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}
@media screen and (min-width: 1440px) {
}
